.google-map-component-open-map-button {
  display: block;
  margin: 15px auto;
  max-width: 250px;
  padding: 10px 15px;
  font-size: 16px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.google-map-component-map {
  margin-top: 35px;
  width: 100%;
  height: 600px;
  border-radius: 15px;
}