.liqpay-button {
  margin-top: 10px;
  padding: 12px 24px;
  background-color: #77CC5D;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 30px;
  cursor: pointer
}